.elements_place_content {
  margin: 50px 200px 0 200px;
}

@media screen and (max-width:1280px) {
  .elements_place_content  {
    margin-top: calc(36px + (100vw - 320px)*(50 - 36)/(1280 - 320));
    margin-left: calc(19px + (100vw - 320px)*(200 - 19)/(1280 - 320));
    margin-right: calc(19px + (100vw - 320px)*(200 - 19)/(1280 - 320));
   }
}

@media screen and (max-width: 320px) {
  .elements_place_content {
    margin-top: 36px;
    margin-left: 19px;
    margin-right: 19px;
  }
}
