.profile__edit-button {
  padding: 0;
  margin: 0 0 0 18px;
  width: 24px;
  align-self: center;
}

@media screen and (max-width:1280px) {
  .profile__edit-button  {
    margin-right: calc(10px + (100vw - 320px)*(18 - 10)/(1280 - 320));
    width: calc(18px + (100vw - 320px)*(24 - 18)/(1280 - 320));
  }
}

@media screen and (max-width: 320px) {
  .profile__edit-button {
    margin-right: 10px;
    width: 18px;
  }
}
