.popup__input {
  width: 100%;
  padding: 0 0 13px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  border-style: none none solid none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}

