.popup__container {
  position: relative;
  margin: 0;
  padding: 34px 36px 37px 36px;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 430px;
  height: 330px;
  box-sizing: border-box;
}

@media screen and (max-width:1280px) {
  .popup__container {
    margin-left: max(19px,(100vw - 320px)/2);
    margin-right: max(19px,(100vw - 320px)/2);
    padding: calc(25px + (100vw - 320px)*(34 - 25)/(1280 - 320)) calc(22px + (100vw - 320px)*(36 - 22)/(1280 - 320)) calc(25px + (100vw - 320px)*(37 - 25)/(1280 - 320))  calc(22px + (100vw - 320px)*(36 - 22)/(1280 - 320));
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    margin-left: 19px;
    margin-right: 19px;
    padding: 25px 22px 25px 22px;
    height: 322px;
  }
}
