.profile_vertical-margins {
  margin-top: 40px;
  margin-bottom: 0;
}

@media screen and (max-width:1280px) {
  .profile_vertical-margins  {
    margin-top: calc(42px + (100vw - 320px)*(40 - 42)/(1280 - 320));
  }
}

@media screen and (max-width: 320px) {
  .profile_vertical-margins {
    margin-top: 42px;
  }
}
