.logo__image {
    padding: 0;
    margin: 0 0 41px 0;
    width: 142px;
}

@media screen and (max-width:1280px) {
    .logo__image  {
      width: min(142px,calc(103.74px + (100vw - 320px)*(142 - 103.74)/(1280 - 320)));
      margin: 0 0 min(41px,calc(31.6px + (100vw - 320px)*(41 - 31.6)/(1280 - 320))) calc(27px - (100vw - 320px)*0.028125);
    }
}

@media screen and (max-width: 320px) {
    .logo__image {
        width: 103.74px;
        margin: 0 0 31.6px 27px;
    }
  }
