.horizontal-margins {
  margin-left: 200px;
  margin-right: 200px;
}

@media screen and (max-width:1280px) {
  .horizontal-margins {
    margin-left: calc(19px + (100vw - 320px)*(200 - 19)/(1280 - 320));
    margin-right: calc(19px + (100vw - 320px)*(200 - 19)/(1280 - 320));
  }
}

@media screen and (max-width: 320px) {
  .horizontal-margins {
    margin-left: 19px;
    margin-right: 19px;
  }
}
