.content {
  margin: 0;
  padding: 0 200px 0 200px;
}

@media screen and (max-width:1280px) {
  .content {
    padding-left: calc(19px + (100vw - 320px)*(200 - 19)/(1280 - 320));
    padding-right: calc(19px + (100vw - 320px)*(200 - 19)/(1280 - 320));
  }
}

@media screen and (max-width: 320px) {
  .content {
    padding-left: 19px;
    padding-right: 19px;
  }
}
