.popup__header {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  white-space: nowrap;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}

@media screen and (max-width:1280px) {
  .popup__header  {
    font-size: calc(18px + (100vw - 320px)*(24 - 18)/(1280 - 320));
   }
}
@media screen and (max-width: 320px) {
  .popup__header {
    font-size: 18px;
  }
}
