.profile__add-button {
  padding: 0;
  margin: 0 0 0 auto;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: #000000;
  background-image: url("../../../images/plus.svg");
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    width: 100%;
    margin: 36px 0 0 0;
    background-size: 16px;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
