.footer__copyright {
  margin: 0;
  padding: 0;
  color: #545454;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  white-space: nowrap;
}

@media screen and (max-width:1280px) {
  .footer__copyright {
    font-size: calc(14px + (100vw - 320px)*(18 - 14)/(1280 - 320));
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
  }
}
