.elements_vertical-margins {
  margin-top: 50px;
  margin-bottom: 0;
}

@media screen and (max-width:1280px) {
  .elements_vertical-margins  {
    margin-top: calc(36px + (100vw - 320px)*(50 - 36)/(1280 - 320));
  }
}

@media screen and (max-width: 320px) {
  .elements_vertical-margins {
    margin-top: 36px;
  }
}
