@import url("../vendor/normalize.css");
@import url("../vendor/fonts/Inter Web/inter.css");
@import url("../blocks/page/page.css");
@import url("../blocks/header/header.css");
@import url("../blocks/logo/logo.css");
@import url("../blocks/content/content.css");
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__avatar/profile__avatar.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__name/profile__name.css");
@import url("../blocks/profile/__edit-button/profile__edit-button.css");
@import url("../blocks/profile/__description/profile__description.css");
@import url("../blocks/profile/__add-button/profile__add-button.css");
@import url("../blocks/elements/elements.css");
@import url("../blocks/element/element.css");
@import url("../blocks/element/__photo/element__photo.css");
@import url("../blocks/element/__delete/element__delete.css");
@import url("../blocks/element/__data/element__data.css");
@import url("../blocks/element/__description/element__description.css");
@import url("../blocks/element/__like/element__like.css");
@import url("../blocks/element/__like/_disabled/element__like_disabled.css");
@import url("../blocks/element/__like/_enabled/element__like_enabled.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/copyright/copyright.css");
@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/__container/popup__container.css");
@import url("../blocks/popup/__header/popup__header.css");
@import url("../blocks/popup/__input/popup__input.css");
@import url("../blocks/popup/__input/_font_color-add/popup__input_font_color-add.css");
@import url("../blocks/popup/__input/_font_color-edit/popup__input_font_color-edit.css");
@import url("../blocks/popup/__input/_name/popup__input_name.css");
@import url("../blocks/popup/__save-button/popup__save-button.css");
@import url("../blocks/popup/__close-button/popup__close-button.css");
@import url("../blocks/popup/_hidden/popup_hidden.css");
@import url("../blocks/popup/_visible/popup_visible.css");

