.profile__info {
  color: #FFFFFF;
  padding: 0;
  margin: 0 0 0 30px;
  display: grid;
  grid-template-columns: auto auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 320px) {
  .profile__info {
    margin: 26px 0 0 0;
  }
}
