.element__data {
  margin: 0 0 0 0;
  padding: 25px 15px 31px 21px;
  background-color: #FFFFFF;
  word-spacing: 0;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
